---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import BlogPost from '../components/BlogPost.astro';
import "../styles/global.css";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Blog";
---
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation />

    <h1>My Astro Learning Blog</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
      {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>

    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>